
numpy # for numerical operations
pandas # for data manipulation and analysis
scikit-learn # for machine learning algorithms
matplotlib # for plotting and visualization
seaborn # for statistical data visualization
scipy # for scientific computing
mysql-connector-python # for MySQL database connection
dotenv # for environment variable management
ipykernel # for Jupyter notebook support
PyYAML # for YAML file parsing
imblearn # for handling imbalanced datasets
dill # for serializing Python objects
dump # for data dumping and loading
fastapi # for building APIs
uvicorn # for serving FastAPI applications
jinja2 # for templating in FastAPI
python-multipart # for handling file uploads in FastAPI
from_root # for relative imports in FastAPI

-e . # for local development, assuming the package is in the current directory